.navbar {
  box-shadow: 0 -20px 8px -4px rgba(0, 0, 0, 1);
  height: 10vh;
  align-content: center;
}

.navContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navItems {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.navItems > div:not(:first-child) {
  font-size: medium;
}

.navProfile {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.navProfile button{
  background-color: black;
  color: white;
  border: none;
  border-radius: 40rem;
  padding: 0.7rem 1rem;
  font-size: 1rem;
  font-weight: bold;
}

.navProfile button:hover {
  background-color: #333;
}

.inputContainer {
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  width: clamp(250px, 60%, 500px);
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
  padding: 0.2rem 0.5rem;
}

.inputContainer .seachIcon {
  color: gray;
  flex-shrink: 0;
  height: 1.2rem;
  font-size: smaller;
  color: gray;
}

.inputContainer input {
  border: none;
  padding: 0.2rem 0.5rem;
  outline: none;
  font-size: 0.875rem;
  width: 100%;
  flex: 1;
  color: gray;
}

.inputContainer input::placeholder {
  font-size: 0.875rem;
  color: gray;
}
